@import "../../base/index";

.list {
  max-width: 1440px;
  margin: 30px auto;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  @include media-up-to-md {
    grid-template-columns: 1fr;
  }
}
