@import "../../base/index";
.homepage {
  width: 100%;

  &__header {
    position: sticky;
    position: -webkit-sticky;
    z-index: 3;
    top: 15px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;
    background: $basic-color-light-purple-20-transparent;
    box-shadow: 0 8px 32px 0 $basic-color-header-shadow;
    backdrop-filter: blur( 9.5px );
    -webkit-backdrop-filter: blur( 9.5px );
    border-radius: 10px;
    padding: 30px;

    @include media-up-to-sm {
      flex-wrap: wrap;
    }

    &--box {
      padding: 15px;
      border-radius: 3px;
      border: 1px solid $basic-color-midnight-blue;
    }
  }
}
