$basic-color-white: rgb(255, 255, 255);
$basic-color-white-20-transparent: rgba( 255, 255, 255, 0.2 );
$basic-color-midnight-blue: rgb(41, 33, 122);
$basic-color-light-purple: rgba(205, 199, 255, 1);
$basic-color-light-purple-20-transparent: rgba(205, 199, 255, 0.2);
$basic-color-purple: rgba(146, 136, 253, 1);
$basic-color-light-sky-blue: rgba(153, 233, 255, 1);
$basic-color-box-shadow: rgba(66, 68, 90, 0.25);
$basic-color-header-shadow: rgba( 31, 38, 135, 0.37 );