$basic-color-midnight-blue: rgb(41, 33, 122);
$basic-color-light-purple: rgba(205, 199, 255, 1);
$basic-color-purple: rgba(146, 136, 253, 1);
$basic-color-light-sky-blue: rgba(153, 233, 255, 1);
$basic-color-box-shadow: rgba(66, 68, 90, 0.25);